@import "normalize";
@import "bourbon";
@import "neat";
@import "bitters/bitters";
@import "blog";

body {
  border-top: solid 4px $blue;
}

.row {
  @include outer-container;
}

#main-header {
  background-color: $light-gray;
  padding: em(60) 0;

  h1 {
    @include span-columns(4);
    font-size: em(21);
    text-transform: uppercase;
  }
}

#main-nav {
  ul {
    float: right;
    text-align: right;

    li {
      display: inline;
      font-size: 18px;
      margin-left: 10px;
    }
  }
}

#banner {
  background-color: $light-gray;
  padding: em(120) 0 em(180);
  text-align: center;

  h2 {
    font-size: em(36);
    text-transform: uppercase;

    span {
      display: block;
      font-size: 24px;
      padding-top: $base-line-height / 4;
    }
  }

  p {
    @include span-columns(6);
    font-family: $sans-serif;
    font-size: em(21);
    line-height: 1.5em;
  }
}

#main-footer {
  background-color: $black;
  color: $white;
  text-align: center;
  padding: em(60) 0;

  ul {
    margin-bottom: $base-line-height / 2;
    text-align: center;

    li {
      display: inline;
      font-size: 18px;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $white;

        &:hover {
          color: darken($white, 15%);
        }
      }
    }
  }
}
