#main-content {
  padding: em(60) 0;

  article {
    @include span-columns(8);
    @include shift(2);
    margin-bottom: em(120);

    header {
      @include clearfix;
      margin-bottom: $base-line-height;
      text-align: center;
    }

    h2 {
      font-size: em(24);
      margin-bottom: $base-line-height / 4;
    }

    h3 {
      color: $medium-gray;
      font-size: em(21);
      font-family: $serif;
      font-weight: normal;
      margin-bottom: $base-line-height / 2;
    }

    p {
      font-size: 18px;
      line-height: 1.5em;
    }

    q {
      @include inline-block;
      font-size: 36px;
      font-family: $serif;
      font-style: italic;
      line-height: 1.25em;
      margin-bottom: $base-line-height / 2;
    }

    footer {
      border-top: solid 1px #e5e5e5;
      color: $medium-gray;
      padding-top: $base-line-height / 2;

      ul {
        li {
          display: inline;
          margin-right: em(5);
        }
      }
    }
  }
}


#pagination {
  clear: both;
  @include fill-parent;
  text-align: center;

  strong {
    text-transform: uppercase;
    margin: 0 em(10);
  }

  i {
    font-size: 24px;
    position: relative;
    vertical-align: -3px;
  }
}
