%footer.main-footer
  .wrap
    .footer-content
      %ul.social-nav
        %li
          = link_to 'https://twitter.com/andrewcohen' do
            %i.icon-twittertwo
        %li
          = link_to 'https://dribbble.com/andrewcohen' do
            %i.icon-dribbbletwo
        %li
          = link_to 'http://linkedin.com/in/imandrewcohen' do
            %i.icon-linkedintwo
      %span.copyright
        &copy; 2015 Andrew Cohen

