#work {
  @include animation(slideUp .5s .5s backwards);
  background-color: white;
  padding: em(60) 0;

  @include media($large-screen-up) {
    padding: em(90) 0;
  }
}

.work-header {
  @include clearfix;
  @include fill-parent;
  margin-bottom: em(60);

  @include media($large-screen-up) {
    margin-bottom: em(90);
  }

  h3 {
    display: block;
    margin-bottom: 0;
    text-align: center;
  }
}

.work-footer {
  @include clearfix;
  @include fill-parent;
  clear: both;
  padding-top: em(36);
  text-align: center;

  @include media($large-screen-up) {
    padding-top: em(42);
  }

  a {
    @extend button;

    @include media($medium-screen-up) {
      display: inline-block;
    }
  }
}

.project {
  @extend .card;
  @include fill-parent;
  @include transition($animation-ease-out);
  height: em(300);
  padding: 0;
  margin-bottom: $base-y;

  &:hover {
    box-shadow: $shadow-2;

    a {
      background-color: rgba(black, 0.5);

      h3, span {
        opacity: 1;
      }
    }
  }

  @include media($medium-screen-up) {
    @include span-columns(4 of 8);
    @include omega(2n);
    margin-bottom: $base-y * 2;
  }

  @include media($large-screen-up) {
    @include span-columns(4 of 12);
    @include omega-reset(2n);
    @include omega(3n);
  }

  a {
    @include backface-visibility(hidden);
    @include size(100%);
    background-color: rgba(black, 0);
    border-radius: $base-border-radius;
    border-bottom: none;
    display: inline-block;

    h3,
    span {
      @include transition($animation-ease-out);
      color: white;
      opacity: 0;
    }
  }
}

.project-title {
  @include vertical-align;
  text-align: center;
}

#tb {
  background: image-url('landing/landing-tb.jpg') no-repeat center;
  background-size: cover;
}

#nbs {
  background: image-url('landing/landing-nbs.jpg') no-repeat center;
  background-size: cover;
}

#pcp {
  background: image-url('landing/landing-pcp.jpg') no-repeat center;
  background-size: cover;
}

#village {
  background: image-url('landing/landing-village.jpg') no-repeat center;
  background-size: cover;
}

#realtor {
  background: image-url('landing/landing-realtor.jpg') no-repeat center;
  background-size: cover;
}

#martialcodex {
  background: image-url('landing/landing-martialcodex.jpg') no-repeat center;
  background-size: cover;
}
