---
title: Martial Codex – I'm Andrew Cohen
---

%header.martialcodex
  .wrap
    .header-content
      %em Product Design
      %h1 Martial Codex
    %a{href:'/work/realtor', class: 'prev'}
      %i.icon-lefttwo
      Realtor.com
    %a{href:'/work/village', class: 'next'}
      The Village
      %i.icon-righttwo

.wrap
  %section.copy
    %p Martial Codex is a instructional martial arts product that required a lot of technical wrangling. The thoughtbot Denver team designed and developed a 3D rendering application built on WebGL. The product showcases 3D Motion Capture videos of numerous martial arts styles.
    %p Since the web product launched to much success we dove right in to building an Android application. The design utilizes Google's Material Design.

  .image-wrap
    = image_tag 'work/martialcodex-select.gif'
  .image-wrap
    = image_tag 'work/martialcodex-mobile.png'

