---
title: Martial Codex – I'm Andrew Cohen
---

%header.martialcodex
  .wrap
    .header-content
      %em Product Design
      %h1 Martial Codex
    %a{href:'/work/realtor', class: 'prev'}
      %i.icon-lefttwo
      Realtor.com
    %a{href:'/work/village', class: 'next'}
      The Village
      %i.icon-righttwo

.wrap
  %section.copy
    %p Martial Codex is a instructional martial arts product that required a lot of technical wrangling. The thoughtbot team designed and developed a web-based product with a Rails store and WebGL 3D player. The Native Android app design utilizes Google's Material Design.
    %p
      Launch site:
      %a(href='http://martialcodex.com')martialcodex.com

  .image-wrap
    = image_tag 'work/martialcodex-select.gif'
  .image-wrap
    = image_tag 'work/martialcodex-mobile.png'

