---
title: Next Big Sound – I'm Andrew Cohen
---

%header.nextbigsound
  .wrap
    .header-content
      %em Product Design / Front-End Development
      %h1 Next Big Sound
    %a{href:'/work/thoughtbot', class: 'prev'}
      %i.icon-lefttwo
      thoughtbot
    %a{href:'/work/realtor', class: 'next'}
      Realtor.com
      %i.icon-righttwo

.wrap
  %section.copy
    %p Upon moving to Boulder, CO I was hired as the first Lead Designer for Next Big Sound. The team had been searching for a designer for almost a year, and they reached out to me right before I moved. My experience at Next Big Sound was one in a million. I had the opportunity to work with some of the most passionate and brilliant people.

    %p From day one I was given a blank canvas to rework the entire product from the ground up. I overhauled everything and established an overall visual language. Branding, marketing materials, user experience, ui/visual design, you think it up and I redesigned it. My efforts helped grow MAU (Monthly Active Users) and MRR (Monthly Recurring Revenue) through user-centered research and design.

  .image-wrap
    = image_tag 'work/nbs.jpg'

  .image-wrap
    = image_tag 'work/nbs_2.jpg'

  .image-wrap
    = image_tag 'work/nbs_3.jpg'

  .image-wrap
    = image_tag 'work/nbs_4.jpg'

