---
title: Next Big Sound – I'm Andrew Cohen
---

%header.nextbigsound
  .wrap
    .header-content
      %em Product Design / Front-End Development
      %h1 Next Big Sound
    %a{href:'/work/thoughtbot', class: 'prev'}
      %i.icon-lefttwo
      thoughtbot
    %a{href:'/work/realtor', class: 'next'}
      Realtor.com
      %i.icon-righttwo

.wrap
  %section.copy
    %p As the Lead Designer at Next Big Sound I overhauled the entire product experience. My efforts helped grow MAU (Monthly Active Users) and MRR (Monthly Recurring Revenue) through user-centered research and design.

  .image-wrap
    = image_tag 'work/nbs.jpg'

  .image-wrap
    = image_tag 'work/nbs_2.jpg'

  .image-wrap
    = image_tag 'work/nbs_3.jpg'

  .image-wrap
    = image_tag 'work/nbs_4.jpg'

