---
title: Pilsner Cohen Party – I'm Andrew Cohen
---

%header.pilsnercohenparty
  .wrap
    .header-content
      %em Design / Development
      %h1 Pilsner Cohen Party
    %a{href:'/work/nextbigsound', class: 'prev'}
      %i.icon-lefttwo
      Next Big Sound
    %a{href:'/work/thoughtbot', class: 'next'}
      thoughtbot
      %i.icon-righttwo

.wrap
  %section.copy
    %p <a href="https://www.youtube.com/watch?v=Sbqv3MwwVd8">Mawwage. Mawwage is what bwings us togethew today.</a> That's right, your's truly is getting married. After being harassed for months I finally stepped up and designed us a wedding website to tell the world about our big day. With the help of my lovely <a href="http://alisonpilsner.com">fiancée's</a> copywriting skills I was able to craft a beautiful site to showcase our great photography and venues. The site was designed and built in 24 hours, that's including the 8 hours I slept overnight.
    %p It's just as beautiful as it looks in the browser. Visit <a href="http://pilsnercohenparty.com">pilsnercohenparty.com</a>, but no wedding crashing.

  .image-wrap
    = image_tag 'work/pilsnercohenparty.jpg'
