---
title: Realtor.com Profiles – I'm Andrew Cohen
---

%header.realtor
  .wrap
    .header-content
      %em UX/UI Design, Front-end Development
      %h1 Realtor.com
    %a{href:'/work/nextbigsound', class: 'prev'}
      %i.icon-lefttwo
      Next Big Sound
    %a{href:'/work/martialcodex', class: 'next'}
      Martial Codex
      %i.icon-righttwo

%section.project-content
  .wrap
    .copy
      %p Realtor.com Labs hired thoughtbot Denver to bring a fresh approach to their agent profiles. I led design on of an all new profile experience that focused on showcasing a wide-array of data surrounding agents.

    .image-wrap
      = image_tag 'work/realtor-landing.jpg'

    .image-wrap
      = image_tag 'work/realtor-profile.png'
