---
title: Realtor.com Profiles – I'm Andrew Cohen
---

%header.realtor
  .wrap
    %em Design &amp; Front-end Dev
    %h1 Realtor.com
    %a{href:'/work/nextbigsound', class: 'prev'}
      %i.icon-lefttwo
      Next Big Sound
    %a{href:'/work/martialcodex', class: 'next'}
      Martial Codex
      %i.icon-righttwo


.wrap
  %section.copy
    %p Realtor.com Labs hired thoughtbot to bring a fresh approach to agent profiles. They have been reimagined to put their image and activity in the market first and foremost. Our Denver team designed and built an Angular.js app from the ground up.

  .image-wrap
    = image_tag 'work/realtor-landing.jpg'

  .image-wrap
    = image_tag 'work/realtor-profile.png'
