---
title: Realtor.com Profiles – I'm Andrew Cohen
---

%header.work-header
  .wrap
    .work-nav
      %a{href:'/work/thoughtbot', class: 'prev'}
        %i.icon-lefttwo
        thoughtbot
      %a{href:'/work/realtor', class: 'next'}
        Realtor.com
        %i.icon-righttwo
    %h2 Realtor.com Profiles
    %p Realtor.com Labs hired thoughtbot Denver to bring a fresh approach to their agent profiles. I led design on of an all new profile experience that focused on showcasing a wide-array of data surrounding agents.


.wrap
  .image-wrap
    = image_tag 'work/realtor-profile.png'
  .image-wrap
    = image_tag 'work/realtor-landing.jpg'


