---
title: thoughtbot – I'm Andrew Cohen
---

%header.thoughtbot
  .wrap
    .header-content
      %em UX &amp; IX Design / Front-End Development
      %h1 thoughtbot
    %a{href:'/work/village', class: 'prev'}
      %i.icon-lefttwo
      The Village
    %a{href:'/work/nextbigsound', class: 'next'}
      Next Big Sound
      %i.icon-righttwo

.wrap
  %section.copy
    %p Working alongside <a href="http://coreymade.com">Corey Haggard</a> I helped conceptualize, design, and develop the 2013 iteration of thoughtbot.com. Corey set the initial design direction while I helped with UX, Interaction Design, and Front-end Development.

  .image-wrap
    = image_tag 'work/thoughtbot.jpg'
