---
title: thoughtbot – I'm Andrew Cohen
---

%header.thoughtbot
  .wrap
    .header-content
      %em UX &amp; IX Design / Front-End Development
      %h1 thoughtbot
    %a{href:'/work/village', class: 'prev'}
      %i.icon-lefttwo
      The Village
    %a{href:'/work/nextbigsound', class: 'next'}
      Next Big Sound
      %i.icon-righttwo

.wrap
  %section.copy
    %p Working alongside my talented co-workers I helped conceptualize, design, and develop the latest iteration of thoughtbot.com. Corey Haggard set the initial design direction while I helped with UX and Interaction Design. Our aim was to create a more modern and simplified portfolio site to showcase the quality work we do here at thoughtbot. On the front-end the site was built using <a href="http://bourbon.io">Bourbon</a>, <a href="http://neat.bourbon.io">Neat</a>, <a href="http://bitters.bourbon.io">Bitters</a>, and SASS.

    %p Just like all great designs, the job is never done. Tons of iterations are always in the pipeline, but for now check out the live site at <a href="http://thoughtbot.com">thoughtbot.com</a>.

  .image-wrap
    = image_tag 'work/thoughtbot.jpg'
