$projects: (martialcodex, realtor, village, thoughtbot, nextbigsound, pilsnercohenparty);

@each $project in $projects {
  .#{$project} {
    @include animation(slideDown .5s forwards);
    color: white;

    .wrap {
      position: relative;
    }

    @if $project == 'martialcodex' {
      background-color: $mc-black;
    }

    @if $project == 'realtor' {
      background-color: $realtor-green;
    }

    @if $project == 'village' {
      background-color: $village-green;
    }

    @if $project == 'thoughtbot' {
      background-color: $tb-red;
    }

    @if $project == 'nextbigsound' {
      background-color: $nbs-red;
    }

    @if $project == 'pilsnercohenparty' {
      background-color: $apac-teal;
    }
  }
}

.work-header {
  @extend .page-header;

  h2 {
    margin-bottom: $base-y;
  }

  p {
    @include animation(slideRight .5s .25s backwards);

    font-size: $base-font-size * 1.125;
    line-height: 1.5em;
    margin-bottom: 0;

    @include media($medium-screen-up) {
      @include span-columns(6 of 8);
      @include shift(1);
      font-size: $base-font-size * 1.25;
    }

    @include media($large-screen-up) {
      @include span-columns(8 of 12);
      @include shift(2);
      font-size: $base-font-size * 1.5;
    }
  }
}

.work-nav {
  @include clearfix;
  @include fill-parent;
  @include position(absolute, $base-y 0px null 0px);
}

.project-nav {
  @include transition(all linear 0.2s);
  border-bottom: none;
  color: white;
  font-size: em(12);
  font-weight: bold;
  font-family: $header-font-family;
  text-transform: uppercase;
  opacity: 0.5;

  i {
    @include position(relative, 6px auto auto auto);
    font-size: em(24, 12);
  }

  &:hover {
    border-bottom: none;
    color: white;
    opacity: 1.0;
  }
}

.prev {
  @extend .project-nav;
  float: left;
}

.next {
  @extend .project-nav;
  float: right;
}

.image-wrap {
  @include fill-parent;
  @include clearfix;
  clear: both;
  margin-bottom: $base-y * 2;
  overflow: hidden;
  text-align: center;

  img {
    max-width: 100%;
  }

  @include media($medium-screen-up) {
    margin-bottom: $base-y * 4;
  }
}

