%header.landing-header
  .color-overlay
  .wrap
    %h2 Product Designer at thoughtbot
    %p Husband, cyclist, outdoorsman, Arsenal FC fan, and burrito connoisseur.

%section.landing-content
  .wrap
    .about
      %h3 About Me
      %p I'm a traditionally-trained designer with over seven years of web, mobile, and product design experience. I've won ADDY awards, ran my own independent design studio, and was Lead Designer at <a href="http://nextbigsound.com">Next Big Sound</a>. Currently I'm a Product Designer at <a href="http://thoughtbot.com">thoughtbot</a> in Denver, a co-founder of <a href="http://brainjunk.co">BrainJunk</a>, and a co-organizer of <a href="http://refreshdenver.org">Refresh Denver</a>.

      %h4 Selected Clients
      %p Brazeen Careerist, Microsoft, Pfizer, Realtor.com, The New Republic, US National Guard, US Army, Verizon Wireless

    - blog.articles[0...2].each do |article|
      %article.blog-post-summary
        = link_to article do
          %span.blog-post-date
            = article.date.strftime('%b %e')
          %h3
            = article.title
          = article.summary(165, '...')

%section#work
  .wrap
    %header.work-header
      %h3 Selected Work

    %section.work-content
      .project#realtor
        %a(href='work/realtor')
          .project-title
            %h3 Realtor.com Profiles
            %span View Project

      .project#martialcodex
        %a(href='work/martialcodex')
          .project-title
            %h3 Martial Codex
            %span View Project

      .project#village
        %a(href='work/village')
          .project-title
            %h3 The Village
            %span View Project

      .project#tb
        %a(href='work/thoughtbot')
          .project-title
            %h3 thoughtbot
            %span View Project

      .project#nbs
        %a(href='work/nextbigsound')
          .project-title
            %h3 Next Big Sound
            %span View Project

    %footer.work-footer
      %a(href='http://dribbble.com/andrewcohen')
        View More Work on Dribbble
